<%= turbo_stream_from subcategory %>

<%= tag.div id: dom_id(subcategory), 
            class: "subcategory-item p-4 mb-4 bg-white rounded-lg shadow hover:shadow-md transition-shadow duration-200" do %>
  <div class="flex items-center justify-between mb-2">
    <h3 class="text-lg font-medium text-gray-900"><%= subcategory.name %></h3>
    <div class="flex items-center">
      <span class="text-lg font-semibold text-indigo-600 mr-2"><%= subcategory.score.to_f %></span>
      <%= link_to edit_category_subcategory_path(subcategory.category, subcategory), 
                  class: "text-indigo-500 hover:text-indigo-700" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
        </svg>
      <% end %>
    </div>
  </div>
  
  <div class="mt-2">
    <input type="range" 
           min="1" 
           max="10" 
           step="0.1" 
           value="<%= subcategory.score %>" 
           data-controller="score-slider"
           data-score-slider-subcategory-id-value="<%= subcategory.id %>"
           data-action="input->score-slider#updateScore"
           class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer">
  </div>
<% end %>
